<section class="comment-area">
  <div class="comment-wrapper">
   {% if site.intensedebate_identifier %}
	  <div id="disqus_thread" class="article-comments"></div>
	    <script>
			var idcomments_acct = '{{ site.intensedebate_identifier }}';
			var idcomments_post_id;
			var idcomments_post_url;
		</script>
		<span id="IDCommentsPostTitle" style="display:none"></span>
		<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
	{% endif %}
  </div>
</section>