<footer class="main-footer">
	<div class="footer-social">
		<div class="footer-container clearfix">
			<div class="social-list">
				<a class="social github" target="blank" href="{{site.github}}">GitHub</a>
				<a class="social github" target="blank" href="{{site.jianshu}}">简书</a>
				<a class="social github" target="blank" href="{{site.juejin}}">掘金</a>
				<a class="social github" target="blank" href="{{site.csdn}}">Csdn</a>
			</div>
		</div>
	</div>

	<div class="copyright">
		<p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>


	<div style="font-size:12px;color:#B3B3B3;padding-right:30px;float:right">
		<iframe
                style="margin-left: 2px; margin-bottom:-5px;"
                frameborder="0" scrolling="0" width="91px" height="20px"
                src="https://ghbtns.com/github-btn.html?user=leach-chen&repo=blogdemo&type=star&count=true" >
            </iframe>
		<span id="busuanzi_container_site_pv">本站总访问量：<span id="busuanzi_value_site_pv"></span>次</span>
	</div>
	</div>

</footer> <!-- End Footer -->
